@import "tailwindcss";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer utilities {
	.bg-hero {
		background-image: url("/assets/bg-image.jpg");
		background-size: cover;
		background-position: center;
	}
}
